body {
    transition: background-color 0.5s, color 0.5s;
    padding: 20px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background:linear-gradient(to right, rgb(109, 190, 190),rgb(138, 147, 226));
}

body.dark-mode {
    background:linear-gradient(to right, rgb(15, 15, 49),rgb(2, 54, 56));
    color: white;
    /* transition: background-color 0.5s, color 0.5s; */
}

#theme-toggle {
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    background-color: rgb(213, 184, 238);
    /* transition: background-color 0.5s, color 0.5s; */
}

#progress-img {
    display: block;
    margin: 10px auto;
    border-radius: 1rem;
    /* transition: transform 0.5s, opacity 0.5s; */
}

#progress-img.loading {
    opacity: 0.5;
    transition: opacity 0.5s;
}